!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1"}
    %meta{:name=>"description", :content=>"Describes something"}
    %meta{:name=>"author", :content=>"Wrote this"}
    %title oddeyedcat
    %link{:rel => "stylesheet", :href=>"/bootstrap/dist/css/bootstrap.css"}
    %link{:rel => "stylesheet", :href=>"/bootstrap/dist/css/bootstrap-theme.css"}

  %body
    .container
      .navbar.navbar-default{:role => "navigation"}
        .container-fluid
          .navbar-header
            %a.navbar-brand{:href => "#"} oddeyedcat
          .collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li.active
                %a{:href=>"http://oddeyedcat.co.uk"}
                  .glyphicon.glyphicon-home
                  Home
              %li
                %a{:href=>"#"} Link1
              %li
                %a{:href=>"#"} Link2
            %ul.nav.navbar-nav.navbar-right
              %li.active
                %a{:href=>"#"} R-Link1
              %li
                %a{:href=>"#"} R-Link2

      = yield

    /%script{:type => "text/javascript", :src => "/scripts/all.js"}
    %script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"}
    %script{:type => "text/javascript", :src => "/bootstrap/dist/js/bootstrap.min.js"}