doctype html
html(lang="en")
  head
    include template/head

  body
    .container
      include template/navbar

      .jumbotron
        h1 Hello World!
        p.lead Hello World p text

    include template/scripts